@import "../../styles/mixins.scss";

.main {
  display: flex;
  //flex-direction: column;
  //justify-content: center;
  flex: 1 1 auto;
  width: 100%;
  padding: 20px 0;
  color: #2e2e2e;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //height: calc(100vh - 160px);
    //overflow: scroll;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    & span {
      display: inline-block;
    }
  }

  &-pagination {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    padding: 0 0 20px;

    & button {
      @include buttonActive($border-radius: 50%, $padding: 5px 12px);

      &[disabled] {
        @include buttonInactive($border-radius: 50%, $padding: 5px 12px);
      }
    }
  }

  &-result {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
  }
}
