@import "../../styles/mixins.scss";

.main {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  padding: 20px 0;
  color: #2e2e2e;
  overflow: hidden;

  &-container {
    @include flexParams($justify-content: flex-start);
    flex-direction: column;
    width: 100%;
  }
}

.details {
  &-section {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background: rgba(12, 12, 12, 0.7);
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    line-height: 1.5;
  }

  &-close {
    position: absolute;
    top: 20px;
    left: calc(50% + 20px);
    @include flexParams();
    width: 30px;
    height: 30px;
    background: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;

    &:hover {
      background: #005bc6;
    }
  }
}
